<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?672a4988b0f440b7d78490eed658e35d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    var __host__ = '{{if !empty($__host__)}}{{$__host__}}{{/if}}';
    var __uid__ = '{{if !empty($uid)}}{{$uid}}{{else}}0{{/if}}';
    var __mod__ = '{{if !empty($mod)}}{{$mod}}{{/if}}';
    var __act__ = '{{if !empty($act)}}{{$act}}{{/if}}';
    var __is_app__ = '{{if !empty($__IS_APP__)}}{{$__IS_APP__}}{{/if}}';
</script>
